body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px 50px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.right-fluid ul {
    padding-left: 2px;
}